<h2>Please Fill up Your additional information</h2>
<%= notice %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <% if !@current_anonymous_user.nil? %>

        <div class="field">
          <%= f.label :username %><br/>
          <%= f.text_field :username %>
        </div>

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, value: @current_anonymous_user.email,
                            readonly: true, autofocus: true, style: 'background-color: #E7E7E7;' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :first_name %><br/>
          <%= f.text_field :first_name, value: @current_anonymous_user.first_name,
                           readonly: true, style: 'background-color: #E7E7E7;'  %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br/>
          <%= f.text_field :last_name, value: @current_anonymous_user.last_name,
                           readonly: true, style: 'background-color: #E7E7E7;'  %>
        </div>

        <div class="field">
          <%= f.label :cell_phone_no %><br/>
          <%= f.text_field :cell_phone_no %>
        </div>


        <div class="field">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div>


        <div class="field">
          <%= f.label :profession %>
          <%= f.select :profession, options_for_select(["Student", "Staff", 'Faculty']) %>
        </div>


        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
    <% end %>
<% end %>